{% extends "base.html" %}

{% block title %} 数独 {% endblock %}

{% block head %}
<script src="/static/sudoku.js"></script>
<script type="text/javascript">
	//var question="1.......2.9.4...5...6...7...5.9.3.......7.......85..4.7.....6...3...9.8...2.....1";
	var inp = document.URL;
	set = false;
	var level = "custom";
	var question;
	if (inp.indexOf('?') >= 0) {
		var match = /[?&]q=([^\s&]+)/.exec(inp)
		if (match.length == 2 && match[1].length >= 81) {
			question = match[1];
			set = true;
		}
	}
	if (set != true){
		level = "hard";
		question = sudoku.generate(level);
	}
	var choosed_cell_id = -1;
	var current_sudoku = new Array();
	for (var i = 0; i < 9; ++i){
		current_sudoku[i] = new Array();
		for (var j = 0; j < 9; j++) {
			current_sudoku[i][j] = 0;
		};
	}
	var complete_num = 0;
	var second = 0;
	var timer;
	var custom = 0;
	var use_solve = 0;

	function X(id){
		return Math.floor(id/9);
	}

	function Y(id){
		return id%9;
	}

	function mark_conflict(cell_id){
		//console.log("conflict" + cell_id);
		$('#C' + cell_id).parent().addClass('conflict');
	}

	function find_conflict(cell_id, append){
		if (append != true)
			$('.conflict').removeClass('conflict');
		conflict_num = 0;
		x = X(cell_id);
		y = Y(cell_id);
		bx = Math.floor(x / 3) * 3;
		by = Math.floor(y / 3) * 3;

		cell_val = current_sudoku[x][y];
		if (cell_val == 0)
			return 0;

		for (var i = 0; i < 9; ++i){
			if (i != y && current_sudoku[x][i] == cell_val){
				conflict_num++;
				mark_conflict(x * 9 + i);
			}
			if (i != x && current_sudoku[i][y] == cell_val){
				conflict_num++;
				mark_conflict(i * 9 + y);
			}
		}

		for (var i = 0; i < 3; ++i){
			for (var j = 0; j < 3; ++j){
				if (bx + i != x && by + j != y && current_sudoku[bx + i][by + j] == cell_val){
					conflict_num++;
					mark_conflict((bx + i) * 9 + (by + j));
				}
			}
		}
		return conflict_num;
	}

	function find_all_conflicts(){
		conflict_num = 0;
		$('.conflict').removeClass('conflict');
		for (var i = 0; i < 81; ++i){
			conflict_num += find_conflict(i, true);
		}
		return conflict_num;
	}

	function post_game_log(){
		data_send = {};
		data_send['player'] = $('#player_name').val();
		data_send['time'] = second;
		data_send['level'] = level;
		data_send['question'] = question;
		$.ajax({
		  type: 'POST',
		  url: "ajax/add_game_log/",
		  data: JSON.stringify (data_send), // or JSON.stringify ({name: 'jonas'}),
		  complete: function(d) { 
				//d = eval("("+d.responseText+")"); 
				//data_rec['modules'] = d['modules']; 
				//tmpl_render_html('#module_tmpl', '#main', data_rec);
				//$(':radio').radiocheck();
		  },
		  contentType: "application/json",
		  dataType: 'text'
		});
	}

	function update_complete_num(){
		complete_num = 0;
		for (var i = 0; i < 9; ++i){
			for (var j = 0; j < 9; ++j){
				if (current_sudoku[i][j] != 0)
					complete_num++;
			}
		}
		if (complete_num == 81){
			cf_num = find_all_conflicts();
			if (cf_num == 0){
				clearInterval(timer);
			}
			if (cf_num == 0 &&  use_solve == 0 && custom == 0){
				use_solve = 1;
				choosed_cell_id = -1;
				$('#myModal2').modal();
			}
		}

	}

	function choose_cell(cell_id, element){
		choosed_cell_id = cell_id;
		$(".choosed").removeClass("choosed");
		$(element).addClass("choosed");
		find_conflict(choosed_cell_id);
		//alert(cell_id);
	}

	function input_cell(value){
		if (choosed_cell_id < 0 || choosed_cell_id >= 81)
			return;
		current_sudoku[X(choosed_cell_id)][Y(choosed_cell_id)] = value;
		if(value == 0)
			value = '';
		$('#C' + choosed_cell_id).val(value);
		cf_num = find_conflict(choosed_cell_id);
		if (cf_num == 0){
			update_complete_num();
		}
	}

	function set_9x9(str) { // set the grid given a sudoku string
		if (str != null && str.length >= 81) {
			//document.getElementById('9x9info').innerHTML = 'Input or select in the textarea to fill the grid'
			for (var i = 0; i < 81; ++i){
				document.getElementById('C'+i).value = '';
				$('#C'+i).attr({
					"class":"input"
				});
				$('#C'+1).parent().removeClass('editable');
				$('#C'+i).parent().attr({
						"onclick":""
					});
			}
			for (var i = 0; i < 81; ++i){
				if (str.substr(i, 1) >= 1 && str.substr(i, 1) <= 9){
					document.getElementById('C'+i).value = str.substr(i, 1);
					$('#C'+i).attr({
						"class":"input original"
					});
					current_sudoku[X(i)][Y(i)]=parseInt(str.substr(i, 1));
				}
				else{
					$('#C'+i).parent().addClass('editable');
					$('#C'+i).parent().attr({
						"onclick":"choose_cell(" + i +", this);"
					});
					// console.log(i);
					current_sudoku[X(i)][Y(i)]=0;
				}
			}
		}
	}
	
	function draw_9x9() { // generate the grid and fill it (called "onLoad")
		// generate the grid
		var s = '<table class="table">\n'
		for (var i = 0; i < 9; ++i) {
			s += '<tr>'
			for (var j = 0; j < 9; ++j) {
				var c = 'cell'
				if ((i+1)%3 == 0 && j%3 == 0) c = 'cell3'
				else if ((i+1)%3 == 0) c = 'cell1'
				else if (j%3 == 0) c = 'cell2'
				s += '<td class="' + c + '"><input class="input" type="text" size="1" maxlength="1" id="C' + (i*9+j) + '"></td>';
			}
			s += '</tr>\n'
		}
		s += '</table>'
		document.getElementById('9x9').innerHTML = s
		// fill the grid if the puzzle is given in the URL
		// var inp = document.URL
		// var set = false
		// if (inp.indexOf('?') >= 0) {
		// 	var match = /[?&]q=([^\s&]+)/.exec(inp)
		// 	if (match.length == 2 && match[1].length >= 81) {
		// 		document.getElementById('text').value = match[1]
		// 		set_9x9(match[1])
		// 		set = true
		// 	}
		// }
		// if the grid is empty, set the grid with "Easter Monster"
		// if (!set) {
		// 	document.getElementById('text').value = '1.......2.9.4...5...6...7...5.9.3.......7.......85..4.7.....6...3...9.8...2.....1'
		// 	set_9x9(document.getElementById('text').value)
		// }
	}
	function clear_sudoku(){
		t = confirm("是否清空所有所填的数字？");
		if (t == true){
			draw_9x9();
			set_9x9(question);
			$(".input").attr({
				"readonly":"readonly"
			});
		}
	}

	function new_game(l){
		use_solve = 0;
		custom = 0;
		level = l;
		question = sudoku.generate(level);
		draw_9x9();
		set_9x9(question);
		$('#level').html(level);

		$(".input").attr({
			"readonly":"readonly"
		});
		second = 0;
		clearInterval(timer);
		timer = setInterval(function(){
			++second;
			$('#minute').html(Math.floor(second / 60));
			$('#second').html(second % 60);
		}, 1000);

	}

	function solve_game(){
		use_solve = 1;
		if (custom == 1){
			cf_num = find_all_conflicts();
			if (cf_num != 0){
				alert("数独存在冲突。");
				return;
			}
			question = "";
			for (var i = 0; i < 81; ++i){
				val = $('#C' + i).val();
				if (val >= 1 && val <= 9)
					question += val;
				else
					question += ".";
			}
		}
		//console.log(question);
		res = sudoku.solve(question);
		for (var i = 0; i < 81; ++i){
			if (question.substr(i, 1) == "."){
				$('#C' + i).val(parseInt(res.substr(i, 1)));
				current_sudoku[X(i)][Y(i)] = parseInt(res.substr(i, 1));
			}
		}
		find_all_conflicts();
	}

	function custom_game(){
		custom = 1;
		use_solve = 1;
		question = ".................................................................................";
		level = "custom";
		draw_9x9();
		set_9x9(question);
		$('#level').html(level);

		$(".input").attr({
			"readonly":"readonly"
		});
		second = 0;
		clearInterval(timer);
		timer = setInterval(function(){
			++second;
			$('#minute').html(Math.floor(second / 60));
			$('#second').html(second % 60);
		}, 1000);
	}
</script>

<style type="text/css">
    body, td, p { font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif; }
    textarea { font: 100% "consolas", "Andale Mono", Monaco, Courier, monospace; border: 1px solid; }
	a, a:visited { color: blue; }
	a:hover { color: red; }
	.input { border: 0px; width: 2em; height: 2em; text-align:center; background:none;}
	.cell {  width: 1em; height: 1em; border-bottom:1px solid; border-left:1px solid; padding: 0.3em}
	.cell1 { width: 1em; height: 1em; border-bottom:2px solid; border-left:1px solid; padding: 0.3em}
	.cell2 { width: 1em; height: 1em; border-bottom:1px solid; border-left:2px solid; padding: 0.3em}
	.cell3 { width: 1em; height: 1em; border-bottom:2px solid; border-left:2px solid; padding: 0.3em}
	.table { border-top:2px solid; border-right:2px solid; border-collapse:collapse }
	.original {font-weight: 900;}
	.editable {background-color: #FDF5E6;}
	.editable:hover {background-color:#AFEEEE;}
	.input_btn:hover {background-color:#00BFFF;}
	.choosed, .choosed:hover {background-color:#00BFFF;}
	.conflict, .conflict:hover {background-color:#FFB6C1;}
</style>
{% endblock %}


{% block content %}


<div class="">
	<div class="container">
		<div class="row">
			<div class="" >
				<table style="margin-left:auto; margin-right:auto">
					<tr>
						<td style="text-align:center">
							<h2>Sudoku</h2>
							<p id="status_bar">
								Level:<span id="level"></span>
								Time: <span id="minute"></span>min
									  <span id="second"></span>s
							</p>
						</td>
					</tr>
					<tr style="vertical-align: top">
						<td style="padding: 0 2em;"><span id="9x9"></span></td>
					</tr>
					<tr>
						<td style="padding: 0 2em">
							<table class="table">
								<tbody>
									<tr id="input_area">
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					<tr>
						<td style="padding: 0 2em">
							<table class="table">
								<tbody>
									<tr>
										<td class='cell3 input_btn' style='text-align:center' onclick='find_all_conflicts();'>显示所有冲突</td>
										<td class='cell3 input_btn' style='text-align:center' onclick='clear_sudoku();'>清空</td>
										<td class='cell3 input_btn' style='text-align:center' data-toggle="modal" data-target="#myModal">新游戏</td>
										<td class='cell3 input_btn' style='text-align:center' onclick='solve_game();'>求解</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
									
				</table>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">新游戏</h4>
      </div>
      <div class="modal-body" id="myModalBody">
        <p>是否开始新的游戏？</p>
        <p>请选择难度：</p>
        <button onclick="new_game('easy');" type="button" class="btn btn-primary" data-dismiss="modal">简单</button>
        <button onclick="new_game('medium');" type="button" class="btn btn-primary" data-dismiss="modal">中等</button>
        <button onclick="new_game('hard');" type="button" class="btn btn-primary" data-dismiss="modal">困难</button>
        <button onclick="new_game('insane');" type="button" class="btn btn-primary" data-dismiss="modal">极难</button>
        <button onclick="new_game('inhuman');" type="button" class="btn btn-primary" data-dismiss="modal">极限</button>
        <button onclick="custom_game();" type="button" class="btn btn-primary" data-dismiss="modal">自定义</button>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModal2Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModal2Label">新游戏</h4>
      </div>
      <div class="modal-body" id="myModal2Body">
        <p>恭喜你完成了数独</p>
        <p>
        	请输入尊姓大名：
        	<input id="player_name" class="form-control" type="text" value="anonymous" class="input-large">
        </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		<button type="button" class="btn btn-primary" onclick="post_game_log();" data-dismiss="modal">确认</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
	draw_9x9();
	set_9x9(question);
	$('#level').html(level);

	$(".input").attr({
		"readonly":"readonly"
	});
	for (var i = 0; i < 10; i++){
		str = "<td class='cell3 input_btn' style='text-align:center' onclick='input_cell(" + i +");'>" + i + "</td>";
		$("#input_area").append(str);
	}
	$(document).keydown(function(event){
		for (var i = 0; i < 10; ++i){
			if (event.which == 48 + i || event.which == 96 + i){
				input_cell(i);
				break;
			}
		}
	});
	$(document).ready(function(){
		clearInterval(timer);
		timer = setInterval(function(){
			++second;
			$('#minute').html(Math.floor(second / 60));
			$('#second').html(second % 60);
		}, 1000);
	});
</script>


{% include "footer.html" %}

{% endblock %}
